{% extends 'base.html.twig' %}

{% block title %}Nouvelle Poule{% endblock %}

{% block body %}
    <h1>Créer une nouvelle poule</h1>

    {{ include('poule/_form.html.twig') }}

    <a href="{{ path('app_poule_index') }}">Revenir à la liste des poules</a>
{% endblock %}
