{% extends 'base.html.twig' %}

{% block title %}Création du compte réussie{% endblock %}

{% block body %}
    <h1>Création du compte réussie</h1>
    <p>Votre compte a bien été créé. Veuillez vérifier votre boite mail pour valider le compte</p>
{% endblock %}