{% extends 'base.html.twig' %}

{% block title %}Un email de changement de mot de passe a été envoyé{% endblock %}

{% block body %}
    <p>
        Si un compte correspond à cette adresse, alors un mail sera envoyé à cette adresse. 
        Ce mail contiendra un lien qui vous permettra de réinitialiser votre mot de passe. 
        Attention ce mail expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas de mail, vérifiez dans les mail sinon <a href="{{ path('app_forgot_password_request') }}">essayez une nouvelle fois.</a>.</p>
{% endblock %}
