{# templates/task/new.html.twig #}

{% extends 'base.html.twig' %}



{% block title %}
Créer une nouvelle saison
{% endblock %}
{% block body %}

    <h1>Créer une nouvelle saison</h1>
    <div class="mt-2 w-4/5">

        {{ include('admin/saison/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
        <div class="mt-4 text-center">
            <a class="btn btn-outline btn-secondary w-full" href="{{ path('admin_saison_index') }}">
                Voir toutes les saisons
            </a>
        </div>
    </div>

{% endblock %}
