{% extends 'base.html.twig' %}

{% block title %}Edit Partie{% endblock %}

{% block body %}
    <h1>Edit Partie</h1>

    {{ include('admin/partie/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info" href="{{ path('admin_partie_index') }}">back to list</a>

    {{ include('admin/partie/_delete_form.html.twig') }}
{% endblock %}
