{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau lieu{% endblock %}

{% block body %}
    <h1>Créer un nouveau lieu</h1>
    <div class="mt-2 w-4/5">
        {{ include('admin/lieu/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    </div>


    <a href="{{ path('admin_lieu_index') }}" class="btn btn-info btn-sm">Revenir à la liste des lieux</a>
{% endblock %}
