{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau lieu{% endblock %}

{% block body %}
    <h1>Créer un nouveau lieu</h1>

    {{ include('admin/lieu/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('admin_lieu_index') }}">Revenir à la liste des lieux</a>
{% endblock %}
