{% extends 'base_front.html.twig' %}

{% block title %}Le calendrier de la saison : {{ saison.nom }} - BLVB{% endblock %}

{% block body %}
<div class="container mx-auto max-w-5xl px-4">
   {% include 'front/fragments/_calendrier_full.html.twig' %}
</div>

{% endblock %}

{% block extra_scripts %}

{% endblock %}
