{% extends 'base_front.html.twig' %}

{% block title %}Le classement de la saison : {{ saison.nom }} - BLVB{% endblock %}

{% block body %}
<div class="container mx-auto max-w-5xl px-4">
<h1>Le classement de la saison {{ saison.nom }}</h1>
    {% for phase in saison.phases%}
        <div class="bg-base-100 border-base-300 collapse collapse-arrow border">
            <input type="checkbox" {%  if phaseouverte.id==phase.id %}checked {% endif %} class="peer" />
            <div class="collapse-title">
                {{ phase.nom }}
            </div>
            <div class="collapse-content">
                <div class="tabs tabs-lift">
                {% for poule in phase.poules %}
                        {% include '/front/fragments/_classement_poule_unique.html.twig' with {  } %}
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    {% endblock %}
{% block extra_scripts %}
{% endblock %}
