{% extends 'base.html.twig' %}

{% block title %}Edit Phase{% endblock %}

{% block body %}
    <h1 class="h1">Modifier la phase {{ phase.nom }}</h1>



    {{ include('admin/phase/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_phase_index') }}">Retourner à la liste des phases</a>

    {{ include('admin/phase/_delete_form.html.twig') }}
{% endblock %}
