{% extends 'base.html.twig' %}

{% block title %}New Journee{% endblock %}

{% block body %}
    <h1>Create new Journee</h1>

    {{ include('admin/journee/_form.html.twig') }}

    <a href="{{ path('admin_journee_index') }}">back to list</a>
{% endblock %}
