<footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
    <aside>
        <p>Site créé par Antoine Moulin (amoulin974 chez gmail). <a class="link" href="">Les conditions d'utilisation du site</a> </p>
    </aside>
</footer>
